<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[BOBO爱你]</key>
	<string>[BOBO爱你]</string>
	<key>[ali做鬼脸]</key>
	<string>[ali做鬼脸]</string>
	<key>[ali哇]</key>
	<string>[ali哇]</string>
	<key>[bm可爱]</key>
	<string>[bm可爱]</string>
	<key>[din推撞]</key>
	<string>[din推撞]</string>
	<key>[good]</key>
	<string>[good]</string>
	<key>[hold住]</key>
	<string>[hold住]</string>
	<key>[lt切克闹]</key>
	<string>[lt切克闹]</string>
	<key>[moc转发]</key>
	<string>[moc转发]</string>
	<key>[ok]</key>
	<string>[ok]</string>
	<key>[ppb鼓掌]</key>
	<string>[ppb鼓掌]</string>
	<key>[xb压力]</key>
	<string>[xb压力]</string>
	<key>[xkl转圈]</key>
	<string>[xkl转圈]</string>
	<key>[七夕]</key>
	<string>[七夕]</string>
	<key>[下班]</key>
	<string>[下班]</string>
	<key>[不好意思]</key>
	<string>[不好意思]</string>
	<key>[不想上班]</key>
	<string>[不想上班]</string>
	<key>[不要]</key>
	<string>[不要]</string>
	<key>[丘比特]</key>
	<string>[丘比特]</string>
	<key>[中箭]</key>
	<string>[中箭]</string>
	<key>[互相拍砖]</key>
	<string>[互相拍砖]</string>
	<key>[互相膜拜]</key>
	<string>[互相膜拜]</string>
	<key>[互粉]</key>
	<string>[互粉]</string>
	<key>[亲一口]</key>
	<string>[亲一口]</string>
	<key>[亲亲]</key>
	<string>[亲亲]</string>
	<key>[传火炬]</key>
	<string>[传火炬]</string>
	<key>[伤心]</key>
	<string>[伤心]</string>
	<key>[偷乐]</key>
	<string>[偷乐]</string>
	<key>[偷笑]</key>
	<string>[偷笑]</string>
	<key>[元宵快乐]</key>
	<string>[元宵快乐]</string>
	<key>[光棍节]</key>
	<string>[光棍节]</string>
	<key>[兔子]</key>
	<string>[兔子]</string>
	<key>[冠军诞生]</key>
	<string>[冠军诞生]</string>
	<key>[别烦我]</key>
	<string>[别烦我]</string>
	<key>[加油啊]</key>
	<string>[加油啊]</string>
	<key>[劲能样]</key>
	<string>[劲能样]</string>
	<key>[发红包]</key>
	<string>[发红包]</string>
	<key>[发表言论]</key>
	<string>[发表言论]</string>
	<key>[可怜]</key>
	<string>[可怜]</string>
	<key>[可爱]</key>
	<string>[可爱]</string>
	<key>[右哼哼]</key>
	<string>[右哼哼]</string>
	<key>[右边亮了]</key>
	<string>[右边亮了]</string>
	<key>[吃惊]</key>
	<string>[吃惊]</string>
	<key>[吃汤圆]</key>
	<string>[吃汤圆]</string>
	<key>[吃货]</key>
	<string>[吃货]</string>
	<key>[同意]</key>
	<string>[同意]</string>
	<key>[吐]</key>
	<string>[吐]</string>
	<key>[呵呵]</key>
	<string>[呵呵]</string>
	<key>[哈哈]</key>
	<string>[哈哈]</string>
	<key>[哼]</key>
	<string>[哼]</string>
	<key>[啦啦啦啦]</key>
	<string>[啦啦啦啦]</string>
	<key>[喜得金牌]</key>
	<string>[喜得金牌]</string>
	<key>[喝多了]</key>
	<string>[喝多了]</string>
	<key>[嘘]</key>
	<string>[嘘]</string>
	<key>[嘻嘻]</key>
	<string>[嘻嘻]</string>
	<key>[噢耶]</key>
	<string>[噢耶]</string>
	<key>[囧]</key>
	<string>[囧]</string>
	<key>[困]</key>
	<string>[困]</string>
	<key>[困死了]</key>
	<string>[困死了]</string>
	<key>[围观]</key>
	<string>[围观]</string>
	<key>[国旗]</key>
	<string>[国旗]</string>
	<key>[复活节]</key>
	<string>[复活节]</string>
	<key>[大南瓜]</key>
	<string>[大南瓜]</string>
	<key>[大红灯笼]</key>
	<string>[大红灯笼]</string>
	<key>[太开心]</key>
	<string>[太开心]</string>
	<key>[失望]</key>
	<string>[失望]</string>
	<key>[夺冠感动]</key>
	<string>[夺冠感动]</string>
	<key>[奥特曼]</key>
	<string>[奥特曼]</string>
	<key>[奥运金牌]</key>
	<string>[奥运金牌]</string>
	<key>[奥运铜牌]</key>
	<string>[奥运铜牌]</string>
	<key>[奥运银牌]</key>
	<string>[奥运银牌]</string>
	<key>[好喜欢]</key>
	<string>[好喜欢]</string>
	<key>[好囧]</key>
	<string>[好囧]</string>
	<key>[好棒]</key>
	<string>[好棒]</string>
	<key>[好爱哦]</key>
	<string>[好爱哦]</string>
	<key>[委屈]</key>
	<string>[委屈]</string>
	<key>[威武]</key>
	<string>[威武]</string>
	<key>[害羞]</key>
	<string>[害羞]</string>
	<key>[崩溃]</key>
	<string>[崩溃]</string>
	<key>[左哼哼]</key>
	<string>[左哼哼]</string>
	<key>[巨汗]</key>
	<string>[巨汗]</string>
	<key>[带感]</key>
	<string>[带感]</string>
	<key>[带着微博去旅行]</key>
	<string>[带着微博去旅行]</string>
	<key>[弱]</key>
	<string>[弱]</string>
	<key>[得意地笑]</key>
	<string>[得意地笑]</string>
	<key>[得瑟]</key>
	<string>[得瑟]</string>
	<key>[微公益爱心]</key>
	<string>[微公益爱心]</string>
	<key>[微博三岁啦]</key>
	<string>[微博三岁啦]</string>
	<key>[德国队加油]</key>
	<string>[德国队加油]</string>
	<key>[心]</key>
	<string>[心]</string>
	<key>[怒]</key>
	<string>[怒]</string>
	<key>[怒骂]</key>
	<string>[怒骂]</string>
	<key>[思考]</key>
	<string>[思考]</string>
	<key>[悲伤]</key>
	<string>[悲伤]</string>
	<key>[悲催]</key>
	<string>[悲催]</string>
	<key>[想一想]</key>
	<string>[想一想]</string>
	<key>[意大利队加油]</key>
	<string>[意大利队加油]</string>
	<key>[愚人节]</key>
	<string>[愚人节]</string>
	<key>[懒得理你]</key>
	<string>[懒得理你]</string>
	<key>[打哈欠]</key>
	<string>[打哈欠]</string>
	<key>[抓狂]</key>
	<string>[抓狂]</string>
	<key>[抠鼻屎]</key>
	<string>[抠鼻屎]</string>
	<key>[抱抱]</key>
	<string>[抱抱]</string>
	<key>[拍手]</key>
	<string>[拍手]</string>
	<key>[拍砖]</key>
	<string>[拍砖]</string>
	<key>[招财]</key>
	<string>[招财]</string>
	<key>[拜年了]</key>
	<string>[拜年了]</string>
	<key>[拜拜]</key>
	<string>[拜拜]</string>
	<key>[挖鼻屎]</key>
	<string>[挖鼻屎]</string>
	<key>[挤火车]</key>
	<string>[挤火车]</string>
	<key>[挤眼]</key>
	<string>[挤眼]</string>
	<key>[推荐]</key>
	<string>[推荐]</string>
	<key>[撒花]</key>
	<string>[撒花]</string>
	<key>[收藏]</key>
	<string>[收藏]</string>
	<key>[放假啦]</key>
	<string>[放假啦]</string>
	<key>[放电抛媚]</key>
	<string>[放电抛媚]</string>
	<key>[放鞭炮]</key>
	<string>[放鞭炮]</string>
	<key>[晕]</key>
	<string>[晕]</string>
	<key>[最右]</key>
	<string>[最右]</string>
	<key>[月儿圆]</key>
	<string>[月儿圆]</string>
	<key>[有鸭梨]</key>
	<string>[有鸭梨]</string>
	<key>[来]</key>
	<string>[来]</string>
	<key>[杰克逊]</key>
	<string>[杰克逊]</string>
	<key>[求关注]</key>
	<string>[求关注]</string>
	<key>[汗]</key>
	<string>[汗]</string>
	<key>[江南style]</key>
	<string>[江南style]</string>
	<key>[泪]</key>
	<string>[泪]</string>
	<key>[泪流满面]</key>
	<string>[泪流满面]</string>
	<key>[浮云]</key>
	<string>[浮云]</string>
	<key>[熊猫]</key>
	<string>[熊猫]</string>
	<key>[爱你]</key>
	<string>[爱你]</string>
	<key>[牛]</key>
	<string>[牛]</string>
	<key>[猪头]</key>
	<string>[猪头]</string>
	<key>[玩去啦]</key>
	<string>[玩去啦]</string>
	<key>[玫瑰]</key>
	<string>[玫瑰]</string>
	<key>[生病]</key>
	<string>[生病]</string>
	<key>[甩甩手]</key>
	<string>[甩甩手]</string>
	<key>[疑问]</key>
	<string>[疑问]</string>
	<key>[真V5]</key>
	<string>[真V5]</string>
	<key>[睡觉]</key>
	<string>[睡觉]</string>
	<key>[瞧瞧]</key>
	<string>[瞧瞧]</string>
	<key>[礼物]</key>
	<string>[礼物]</string>
	<key>[神马]</key>
	<string>[神马]</string>
	<key>[福到啦]</key>
	<string>[福到啦]</string>
	<key>[立志青年]</key>
	<string>[立志青年]</string>
	<key>[笑哈哈]</key>
	<string>[笑哈哈]</string>
	<key>[纠结]</key>
	<string>[纠结]</string>
	<key>[红包拿来]</key>
	<string>[红包拿来]</string>
	<key>[给力]</key>
	<string>[给力]</string>
	<key>[给劲]</key>
	<string>[给劲]</string>
	<key>[羞嗒嗒]</key>
	<string>[羞嗒嗒]</string>
	<key>[群体围观]</key>
	<string>[群体围观]</string>
	<key>[耍花灯]</key>
	<string>[耍花灯]</string>
	<key>[耶]</key>
	<string>[耶]</string>
	<key>[膜拜了]</key>
	<string>[膜拜了]</string>
	<key>[花心]</key>
	<string>[花心]</string>
	<key>[草泥马]</key>
	<string>[草泥马]</string>
	<key>[萌翻]</key>
	<string>[萌翻]</string>
	<key>[葡萄牙队加油]</key>
	<string>[葡萄牙队加油]</string>
	<key>[蛋糕]</key>
	<string>[蛋糕]</string>
	<key>[蜡烛]</key>
	<string>[蜡烛]</string>
	<key>[衰]</key>
	<string>[衰]</string>
	<key>[被电]</key>
	<string>[被电]</string>
	<key>[西班牙队加油]</key>
	<string>[西班牙队加油]</string>
	<key>[许愿]</key>
	<string>[许愿]</string>
	<key>[话筒]</key>
	<string>[话筒]</string>
	<key>[赞]</key>
	<string>[赞]</string>
	<key>[赞啊]</key>
	<string>[赞啊]</string>
	<key>[赶火车]</key>
	<string>[赶火车]</string>
	<key>[路过这儿]</key>
	<string>[路过这儿]</string>
	<key>[躁狂症]</key>
	<string>[躁狂症]</string>
	<key>[转发]</key>
	<string>[转发]</string>
	<key>[鄙视]</key>
	<string>[鄙视]</string>
	<key>[酷]</key>
	<string>[酷]</string>
	<key>[酷库熊顽皮]</key>
	<string>[酷库熊顽皮]</string>
	<key>[采访]</key>
	<string>[采访]</string>
	<key>[金元宝]</key>
	<string>[金元宝]</string>
	<key>[钟]</key>
	<string>[钟]</string>
	<key>[钱]</key>
	<string>[钱]</string>
	<key>[闭嘴]</key>
	<string>[闭嘴]</string>
	<key>[阴险]</key>
	<string>[阴险]</string>
	<key>[雷锋]</key>
	<string>[雷锋]</string>
	<key>[震惊]</key>
	<string>[震惊]</string>
	<key>[霹雳]</key>
	<string>[霹雳]</string>
	<key>[非常汗]</key>
	<string>[非常汗]</string>
	<key>[飞个吻]</key>
	<string>[飞个吻]</string>
	<key>[馋嘴]</key>
	<string>[馋嘴]</string>
	<key>[黑线]</key>
	<string>[黑线]</string>
	<key>[鼓掌]</key>
	<string>[鼓掌]</string>
	<key>[龙啸]</key>
	<string>[龙啸]</string>
</dict>
</plist>
