<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>[带着微博去旅行]</string>
		<string>[兔子]</string>
		<string>[熊猫]</string>
		<string>[女孩儿]</string>
		<string>[男孩儿]</string>
		<string>[顶]</string>
		<string>[浮云]</string>
		<string>[肥皂]</string>
		<string>[围观]</string>
		<string>[呵呵]</string>
		<string>[嘻嘻]</string>
		<string>[哈哈]</string>
		<string>[爱你]</string>
		<string>[晕]</string>
		<string>[泪]</string>
		<string>[馋嘴]</string>
		<string>[抓狂]</string>
		<string>[哼]</string>
		<string>[可爱]</string>
		<string>[怒]</string>
		<string>compose_emotion_delete</string>
	</array>
	<array>
		<string>[汗]</string>
		<string>[害羞]</string>
		<string>[睡觉]</string>
		<string>[钱]</string>
		<string>[偷笑]</string>
		<string>[酷]</string>
		<string>[衰]</string>
		<string>[吃惊]</string>
		<string>[闭嘴]</string>
		<string>[鄙视]</string>
		<string>[挖鼻屎]</string>
		<string>[花心]</string>
		<string>[鼓掌]</string>
		<string>[悲伤]</string>
		<string>[思考]</string>
		<string>[生病]</string>
		<string>[亲亲]</string>
		<string>[怒骂]</string>
		<string>[太开心]</string>
		<string>[懒得理你]</string>
		<string>compose_emotion_delete</string>
	</array>
	<array>
		<string>[右哼哼]</string>
		<string>[左哼哼]</string>
		<string>[嘘]</string>
		<string>[委屈]</string>
		<string>[吐]</string>
		<string>[可怜]</string>
		<string>[打哈欠]</string>
		<string>[做鬼脸]</string>
		<string>[失望]</string>
		<string>[疑问]</string>
		<string>[困]</string>
		<string>[拜拜]</string>
		<string>[黑线]</string>
		<string>[阴险]</string>
		<string>[愤怒]</string>
		<string>[感冒]</string>
		<string>[握手]</string>
		<string>[耶]</string>
		<string>[good]</string>
		<string>[弱]</string>
		<string>compose_emotion_delete</string>
	</array>
	<array>
		<string>[不要]</string>
		<string>[ok]</string>
		<string>[赞]</string>
		<string>[来]</string>
		<string>[haha]</string>
		<string>[月亮]</string>
		<string>[太阳]</string>
		<string>[微风]</string>
		<string>[下雨]</string>
		<string>[雪]</string>
		<string>[雪人]</string>
		<string>[落叶]</string>
		<string>[鲜花]</string>
		<string>[心]</string>
		<string>[伤心]</string>
		<string>[爱心传递]</string>
		<string>[给力]</string>
		<string>[互粉]</string>
		<string>[萌]</string>
		<string>[囧]</string>
		<string>compose_emotion_delete</string>
	</array>
	<array>
		<string>[神马]</string>
		<string>[织]</string>
		<string>[威武]</string>
		<string>[帅]</string>
		<string>[喜]</string>
		<string>[围脖]</string>
		<string>[温暖帽子]</string>
		<string>[手套]</string>
		<string>[绿丝带]</string>
		<string>[红丝带]</string>
		<string>[蛋糕]</string>
		<string>[咖啡]</string>
		<string>[西瓜]</string>
		<string>[冰棍]</string>
		<string>[电影]</string>
		<string>[发红包]</string>
		<string>[风扇]</string>
		<string>[干杯]</string>
		<string>[话筒]</string>
		<string>[蜡烛]</string>
		<string>compose_emotion_delete</string>
	</array>
	<array>
		<string>[礼物]</string>
		<string>[汽车]</string>
		<string>[沙尘暴]</string>
		<string>[手机]</string>
		<string>[音乐]</string>
		<string>[照相机]</string>
		<string>[钟]</string>
		<string>[猪头]</string>
		<string>[自行车]</string>
		<string>[奥特曼]</string>
		<string>compose_emotion_delete</string>
		<string>[]</string>
		<string>[]</string>
		<string>[]</string>
		<string>[]</string>
		<string>[]</string>
		<string>[]</string>
		<string>[]</string>
		<string>[]</string>
		<string>[]</string>
		<string>[]</string>
	</array>
</array>
</plist>
